Repository WillBAnders/TutorsVILLE, pull requests merged in 2022-03, with the labels that each got.

#57 Added bio to tutors, email and phone to users, and returned user prof…
  backend/cmd/initdb/main.go
  backend/src/database.go
  backend/src/router.go
Labels: team: backend

#44 Implement Signup/Signin (Resolves #7, #29, #30, #55, #56)
  backend/go.mod
  backend/go.sum
  backend/src/authentication.go
  backend/src/database.go
  backend/src/router.go
  backend/src/router_test.go
  frontend/src/App.js
  frontend/src/components/Navbar.js
  frontend/src/components/SignUpPage.js
  frontend/src/components/SigninPage.js
Labels: type: feature, team: frontend, team: backend

#62 Sprint 2 testing frontend with Cypress
  cypress/.DS_Store
  cypress/integration/.DS_Store
  cypress/integration/frontend.spec.js
  frontend/cypress.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/integration/1-getting-started/todo.spec.js
  frontend/cypress/integration/2-advanced-examples/actions.spec.js
  frontend/cypress/integration/2-advanced-examples/aliasing.spec.js
  frontend/cypress/integration/2-advanced-examples/assertions.spec.js
  frontend/cypress/integration/2-advanced-examples/connectors.spec.js
  frontend/cypress/integration/2-advanced-examples/cookies.spec.js
  frontend/cypress/integration/2-advanced-examples/cypress_api.spec.js
  frontend/cypress/integration/2-advanced-examples/files.spec.js
  frontend/cypress/integration/2-advanced-examples/local_storage.spec.js
  frontend/cypress/integration/2-advanced-examples/location.spec.js
  frontend/cypress/integration/2-advanced-examples/misc.spec.js
  frontend/cypress/integration/2-advanced-examples/navigation.spec.js
  frontend/cypress/integration/2-advanced-examples/network_requests.spec.js
  frontend/cypress/integration/2-advanced-examples/querying.spec.js
  frontend/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  frontend/cypress/integration/2-advanced-examples/traversal.spec.js
  frontend/cypress/integration/2-advanced-examples/utilities.spec.js
  frontend/cypress/integration/2-advanced-examples/viewport.spec.js
  frontend/cypress/integration/2-advanced-examples/waiting.spec.js
  frontend/cypress/integration/2-advanced-examples/window.spec.js
  frontend/cypress/integration/frontend.spec.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Navbar.js
  frontend/src/components/ProfilePage.js
  frontend/src/components/SignUpPage.js
  frontend/src/components/SigninPage.js
Labels: team: frontend

#61 Script/runscript
  run.py
Labels: type: devops

#65 Docs/auth
  backend/src/router.go
Labels: team: backend

#59 Normalize database schema for User/Tutor
  backend/cmd/initdb/main.go
  backend/src/database.go
  backend/src/router.go
  backend/src/router_test.go
Labels: team: backend

#72 Close #69 and #71
  backend/cmd/initdb/main.go
  backend/src/router.go
Labels: team: backend

#74 Feature/newroutetutorcourse
  backend/src/router.go
Labels: team: backend

#83 refactor: updated the services accordingly
  frontend/src/components/Navbar.js
  frontend/src/components/Services.js
Labels: team: frontend

#86 Clean up backend API routes
  backend/src/authentication.go
  backend/src/router.go
  backend/src/router_test.go
  frontend/cypress/integration/frontend.spec.js
  frontend/src/App.js
  frontend/src/components/Navbar.js
  frontend/src/components/ProfilePage.js
  frontend/src/components/SignUpPage.js
  frontend/src/components/SigninPage.js
  frontend/src/components/TutorPage.js
Labels: team: backend

#90 Refactor CoursesPage and add test coverage
  frontend/src/components/CoursePage.js
  frontend/src/components/CoursesPage.js
  frontend/src/tests/components/CoursePage.react.test.js
  frontend/src/tests/components/CoursesPage.test.js
Labels: team: frontend, type: testing

#87 Add actions for automated testing
  .github/workflows/go.yml
  .github/workflows/jest.yml
  frontend/cypress/integration/1-getting-started/todo.spec.js
  frontend/cypress/integration/2-advanced-examples/actions.spec.js
  frontend/cypress/integration/2-advanced-examples/aliasing.spec.js
  frontend/cypress/integration/2-advanced-examples/assertions.spec.js
  frontend/cypress/integration/2-advanced-examples/connectors.spec.js
  frontend/cypress/integration/2-advanced-examples/cookies.spec.js
  frontend/cypress/integration/2-advanced-examples/cypress_api.spec.js
  frontend/cypress/integration/2-advanced-examples/files.spec.js
  frontend/cypress/integration/2-advanced-examples/local_storage.spec.js
  frontend/cypress/integration/2-advanced-examples/location.spec.js
  frontend/cypress/integration/2-advanced-examples/misc.spec.js
  frontend/cypress/integration/2-advanced-examples/navigation.spec.js
  frontend/cypress/integration/2-advanced-examples/network_requests.spec.js
  frontend/cypress/integration/2-advanced-examples/querying.spec.js
  frontend/cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  frontend/cypress/integration/2-advanced-examples/traversal.spec.js
  frontend/cypress/integration/2-advanced-examples/utilities.spec.js
  frontend/cypress/integration/2-advanced-examples/viewport.spec.js
  frontend/cypress/integration/2-advanced-examples/waiting.spec.js
  frontend/cypress/integration/2-advanced-examples/window.spec.js
  frontend/package.json
Labels: type: devops, type: testing

#81 Add draft version of remove route for remobing a tutor from class
  backend/src/router.go
Labels: team: backend

#95 Add default vals for new user
  backend/src/router.go
Labels: type: bug, team: backend

#92 Refactor signup/signin workflow and add tests
  frontend/src/App.js
  frontend/src/components/SignUpPage.js
  frontend/src/components/SigninPage.js
  frontend/src/components/SignupPage.js
  frontend/src/tests/components/SigninPage.test.js
  frontend/src/tests/components/SignupPage.test.js
Labels: team: frontend, type: testing
