Repository WillBAnders/TutorsVILLE, pull requests merged in 2022-02, with the labels that each got.

#38 Search bar functionality, entirety of frontend for sprint 1 (I think)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CoursePage.js
  frontend/src/components/TutorPage.js
  frontend/src/tests/components/sum.test.js
Labels: front-end

#39 Refactor/landing page
  frontend/src/components/AboutUs.js
  frontend/src/components/Home.js
  frontend/src/components/Join.js
  frontend/src/components/Navbar.js
  frontend/src/components/Services.js
  frontend/src/components/SignUpPage.js
  frontend/src/components/SigninPage.js
  frontend/src/styles/LandingPage.css
Labels: front-end

#41 Styling fixes with Navbar and courses page where the navbar cutoff the top of the pages and the course page looked bad on mobile
  frontend/src/components/CoursePage.js
  frontend/src/components/Navbar.js
  frontend/src/styles/LandingPage.css
Labels: front-end

#42 Refactor backend structure for multiple commands (Resolves #40)
  backend/cmd/initdb/main.go
  backend/cmd/server/main.go
  backend/main.go
  backend/src/database.go
  backend/src/router.go
Labels: backend

#45 Add backend testing support and implement tests
  backend/cmd/initdb/main.go
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/src/database.go
  backend/src/router.go
  backend/src/router_test.go
Labels: type: feature, team: backend, type: testing

#50 Add first and last name to users
  backend/cmd/initdb/main.go
  backend/src/database.go
Labels: team: backend
