Repository WillBAnders/TutorsVILLE, pull requests merged in 2022-04, with the labels that each got.

#97 Add user profile patch route
  backend/src/router.go
  frontend/src/App.js
  frontend/src/components/Navbar.js
  frontend/src/components/ProfilePage.js
  frontend/src/components/TutorPage.js
Labels: team: backend

#106 Close #105
  run.py
Labels: type: bug, type: devops

#108 Redo patch /profile testing; Close #98
  backend/src/router_test.go
Labels: team: backend, type: testing

#115 Feature/eslint
  frontend/.eslintrc.json
  frontend/cypress/integration/frontend.spec.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/babel.config.js
  frontend/src/components/AboutUs.js
  frontend/src/components/CoursePage.js
  frontend/src/components/CoursesPage.js
  frontend/src/components/ErrorPage.js
  frontend/src/components/Home.js
  frontend/src/components/Join.js
  frontend/src/components/LandingPage.js
  frontend/src/components/Navbar.js
  frontend/src/components/ProfilePage.js
  frontend/src/components/Services.js
  frontend/src/components/SigninPage.js
  frontend/src/components/SignupPage.js
  frontend/src/components/TutorPage.js
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/src/styles/LandingPage.css
  frontend/src/tests/Tutors.js
  frontend/src/tests/components/CoursesPage.test.js
  frontend/src/tests/components/SigninPage.test.js
  frontend/src/tests/components/SignupPage.test.js
Labels: team: frontend

#109 Revert "Add default vals for new user"
  backend/src/router.go
Labels: type: bug, team: backend

#112 Cleanup CoursePage and add tests
  frontend/src/App.js
  frontend/src/components/CoursePage.js
  frontend/src/components/ProfilePage.js
  frontend/src/components/TutorPage.js
  frontend/src/tests/components/CoursePage.test.js
  frontend/src/tests/components/ProfilePage.test.js
  frontend/src/tests/components/TutorPage.test.js
Labels: team: frontend, type: testing

#120 Refactor API to join user/tutor data
  backend/src/database.go
  backend/src/router.go
  backend/src/router_test.go
  frontend/src/App.js
  frontend/src/components/CoursePage.js
  frontend/src/components/Navbar.js
  frontend/src/components/ProfilePage.js
  frontend/src/components/SigninPage.js
  frontend/src/components/SignupPage.js
  frontend/src/components/TutorPage.js
  frontend/src/tests/components/CoursePage.test.js
  frontend/src/tests/components/ProfilePage.test.js
  frontend/src/tests/components/SigninPage.test.js
  frontend/src/tests/components/SignupPage.test.js
  frontend/src/tests/components/TutorPage.test.js
Labels: team: frontend, team: backend

#126 feat: added gravatar profile pictures
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TutorPage.js
  frontend/src/styles/TutorPage.css
Labels: type: feature, team: frontend

#125 feat: added the footer
  frontend/src/App.js
  frontend/src/components/Footer.js
  frontend/src/styles/Footer.css
Labels: type: feature, team: frontend

#124 Feature/eslint
  frontend/.eslintrc.json
  frontend/cypress/integration/frontend.spec.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/babel.config.js
  frontend/src/components/AboutUs.js
  frontend/src/components/CoursePage.js
  frontend/src/components/CoursesPage.js
  frontend/src/components/ErrorPage.js
  frontend/src/components/Footer.js
  frontend/src/components/Home.js
  frontend/src/components/Join.js
  frontend/src/components/LandingPage.js
  frontend/src/components/Navbar.js
  frontend/src/components/Services.js
  frontend/src/components/SigninPage.js
  frontend/src/components/SignupPage.js
  frontend/src/components/TutorPage.js
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/src/styles/Footer.css
  frontend/src/styles/LandingPage.css
  frontend/src/styles/TutorPage.css
  frontend/src/tests/Tutors.js
  frontend/src/tests/components/CoursePage.test.js
  frontend/src/tests/components/CoursesPage.test.js
  frontend/src/tests/components/ProfilePage.test.js
  frontend/src/tests/components/SigninPage.test.js
  frontend/src/tests/components/SignupPage.test.js
  frontend/src/tests/components/TutorPage.test.js
Labels: team: frontend, type: techdebt

#134 add favicon and tab title
  frontend/public/favicon.ico
  frontend/public/index.html
Labels: team: frontend

#138 Fix API error handling
  frontend/src/App.js
  frontend/src/Utils.js
  frontend/src/components/AsyncWrapper.js
  frontend/src/components/CoursePage.js
  frontend/src/components/CoursesPage.js
  frontend/src/components/ErrorContainer.js
  frontend/src/components/LoadingContainer.js
  frontend/src/components/Navbar.js
  frontend/src/components/ProfilePage.js
  frontend/src/components/SigninPage.js
  frontend/src/components/SignupPage.js
  frontend/src/components/TutorPage.js
  frontend/src/tests/components/CoursePage.test.js
  frontend/src/tests/components/CoursesPage.test.js
  frontend/src/tests/components/ProfilePage.test.js
  frontend/src/tests/components/SigninPage.test.js
  frontend/src/tests/components/SignupPage.test.js
  frontend/src/tests/components/TutorPage.test.js
Labels: type: bug, team: frontend

#139 Add backend username/password validation and cleanup frontend
  backend/src/router.go
  backend/src/router_test.go
  frontend/src/components/SignupPage.js
Labels: type: feature, team: frontend, team: backend

#118 Feature/userupgradetutor
  backend/src/router.go
  backend/src/router_test.go
Labels: type: feature, team: backend

#121 Feature/availability selector
  frontend/src/components/ProfilePage.js
  frontend/src/styles/TableData.js
Labels: type: feature, team: frontend

#141 add courses to the navbar and fixed nav menu bug on phone size screen
  frontend/src/components/AboutUs.js
  frontend/src/components/Navbar.js
  frontend/src/components/Services.js
Labels: type: bug, team: frontend

#144 Fix profile refresh
  frontend/src/App.js
  frontend/src/Utils.js
  frontend/src/components/AsyncWrapper.js
  frontend/src/components/CoursePage.js
  frontend/src/components/CoursesPage.js
  frontend/src/components/ProfilePage.js
  frontend/src/components/SigninPage.js
  frontend/src/components/SignupPage.js
  frontend/src/tests/components/CoursePage.test.js
  frontend/src/tests/components/CoursesPage.test.js
  frontend/src/tests/components/ProfilePage.test.js
  frontend/src/tests/components/SigninPage.test.js
  frontend/src/tests/components/SignupPage.test.js
  frontend/src/tests/components/TutorPage.test.js
Labels: type: bug, team: frontend

#146 Create mock utilities
  frontend/src/tests/components/CoursePage.test.js
  frontend/src/tests/components/CoursesPage.test.js
  frontend/src/tests/components/ProfilePage.test.js
  frontend/src/tests/components/SigninPage.test.js
  frontend/src/tests/components/SignupPage.test.js
  frontend/src/tests/components/TutorPage.test.js
  frontend/src/tests/utils/MockUtils.js
  frontend/src/tests/utils/MockUtils.test.js
Labels: team: frontend, type: devops, type: testing

#149 Implement backend support for modifying availability
  backend/cmd/initdb/main.go
  backend/src/database.go
  backend/src/router.go
  backend/src/router_test.go
  frontend/src/components/ProfilePage.js
  frontend/src/tests/components/ProfilePage.test.js
Labels: type: feature, team: backend

#153 Hide tutor contact information for unauthenticated users
  backend/src/router.go
Labels: type: feature, team: backend

#145 Feature/edit tutor profile
  frontend/src/components/ProfilePage.js
Labels: type: feature, team: frontend
